@import "reset.css";
@import "common.css";


body{

}

main{
    background: #ffffff;


}

/*  basketball style */

.bk-img-kdh{
    width: 95%;
    margin: 0 auto 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bk-text-kdh{
    text-align: center;
}
.bk-text-kdh p{
    margin: 40px auto;
}
.bk-text-kdh h1{
    font-weight: 800;
    font-size: 65px;
    margin: 20px auto 30px;
}
.bk-text-kdh a{
    color: #ffffff;
    background: #000;
    font-weight: 700;
    font-size: 15px;
    padding: 8px 15px;
    border-radius: 40px;
    cursor: pointer;
}
.bk-text-kdh a:hover {
    background: #000000;
    opacity: 0.5;
}
/*  soccer style */

.sc-img-kdh{
    width: 95%;
    margin: 100px auto 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sc-text-kdh{
    text-align: center;
}
.sc-text-kdh p{
    margin: 40px auto;
    line-height: 1.4;

}
.sc-text-kdh h2{
    font-weight: 800;
    font-size: 65px;
    margin: 20px auto 30px;
}
.sc-text-kdh a{

    color: #ffffff;
    background: #000;
    font-weight: 700;
    font-size: 15px;
    padding: 8px 15px;
    border-radius: 40px;
    cursor: pointer;
}
.sc-text-kdh a:hover {
    background: #000000;
    opacity: 0.5;
}


/*trending now style */

.tn-top-box-kdh{
    width: 95%;
    margin: 100px auto 20px;
    display: flex;
    justify-content: left;
    font-weight: 500;
    font-size: 30px;
    margin-right: 20px;
}
.tn-img-kdh{
    display: flex;
}

.tn-img-box-1-kdh{
    position: relative;
    margin: 0 auto 50px;

}

.tn-overlay-1{
    position: absolute;
    bottom: 50px;
    left: 30px;
    color: #ffffff;
    font-weight: 500;
    font-size: 30px;
}

.tn-img-box-2-kdh{
    position: relative;

    margin: 0 auto 50px;
}

.tn-overlay-2{
    position: absolute;
    bottom: 50px;
    left: 30px;
    color: #ffffff;
    font-weight: 500;
    font-size: 30px;
}

.tn-img-box-3-kdh{
    position: relative;
    margin: 0 auto 50px;
}

.tn-overlay-3{
    position: absolute;
    bottom: 50px;
    left: 30px;
    color: #ffffff;
    font-weight: 500;
    font-size: 30px;
}

.tn-img-kdh p{
    margin-bottom: 20px;
}

.tn-img-kdh a{
    color: #000000;
    background: #ffffff;
    font-weight: 700;
    font-size: 15px;
    padding: 8px 15px;
    border-radius: 40px;
    cursor: pointer;
}
.tn-img-kdh a:hover{
    background: #ffffff;
    opacity: 0.5;
}

/* Always iconic */

.ai-box-kdh{
    width: 100%;

}
.ai-box-kdh h4{
    margin: 100px 20px 20px 76px ;
    justify-content: left;
    font-weight: 500;
    font-size: 30px;
    margin-right: 20px;
}
.ai-img-box-kdh{

    display: flex;
    justify-content: space-between;
    align-items: center;


}
.ai-img-box-kdh img{
    width: 19%;
    margin-bottom: 20px;


}
/* 메트콘 style*/

.mecton-img-box-1-kdh img{
    width: 95%;
    margin: 100px auto 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mecton-text{
    text-align: center;
}
.mecton-text p{
    margin: 40px auto;
    line-height: 1.4;

}
.mecton-text h6{
    font-weight: 800;
    font-size: 65px;
    margin: 20px auto 30px;
}
.mecton-text a{

    color: #ffffff;
    background: #000;
    font-weight: 700;
    font-size: 15px;
    padding: 8px 15px;
    border-radius: 40px;
    cursor: pointer;
}
.mecton-text a:hover {
    background: #000000;
    opacity: 0.5;
}

/*페가수스 트레일 5 style*/


.tr-img-kdh{
    width: 95%;
    margin: 100px auto 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tr-text-kdh{
    text-align: center;
}
.tr-text-kdh p{
    margin: 40px auto;
    line-height: 1.4;

}
.tr-text-kdh h5{
    font-weight: 800;
    font-size: 65px;
    margin: 20px auto 30px;
}
.tr-text-kdh a{

    color: #ffffff;
    background: #000;
    font-weight: 700;
    font-size: 15px;
    padding: 8px 15px;
    border-radius: 40px;
    cursor: pointer;
}
.tr-text-kdh a:hover {
    background: #000000;
    opacity: 0.5;
}

/*New & Featured */

.nf-top-box-kdh {
    width: 95%;
    margin: 100px auto 20px;
    display: flex;
    justify-content: left;
    font-weight: 500;
    font-size: 30px;
    margin-right: 20px;
}

.nf-box-kdh{
    width: 95%;
    margin: 20px auto;
}

.nf-img-box-kdh{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nf-img-box-kdh img {
    width: 100%;
}
.nf-img-box-kdh li{
    width: 48%;
    position: relative;
    margin: 20px 0;
}
.nf-overlay-kdh{
    position: absolute;
    bottom: 50px;
    left: 30px;
    color: #ffffff;
    font-weight: 500;
    font-size: 30px;
}


.nf-img-box-kdh p{
    margin-bottom: 20px;
}
.nf-overlay-kdh .dn-kdh{
    font-size: 20px;
}

.nf-img-box-kdh a{
    color: #000000;
    background: #ffffff;
    font-weight: 700;
    font-size: 15px;
    padding: 8px 15px;
    border-radius: 40px;
    cursor: pointer;
}
.nf-img-box-kdh a:hover{
    background: #ffffff;
    opacity: 0.5;
}


.nf-img-box-4-kdh a{
    color: #ffffff;
    background: #000000;
    font-weight: 700;
    font-size: 15px;
    padding: 8px 15px;
    border-radius: 40px;
    cursor: pointer;
}
.nf-img-box-4-kdh a:hover {
    background: #000000;
    opacity: 0.5;
}
.nf-img-box-4-kdh p{
    color: #000;
}

/* 멤버십 style*/



.ms-top-box-kdh{
    width: 95%;
    margin: 100px auto 20px;
    display: flex;
    justify-content: left;
    font-weight: 500;
    font-size: 30px;
    margin-right: 20px;
}
.ms-box-kdh {
    width: 95%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.ms-img-box-kdh {
    position: relative;
}

.ms-box-kdh img {
    width: 100%;
}

.ms-text-kdh{
    position: absolute;
    bottom: 40px;
    left: 30px;
}

.ms-text-kdh p:first-child{
    font-weight: 700;
    font-size: 15px;
    margin: 0;
}
.ms-text-kdh p{
    color: #ffffff;
    font-weight: 500;
    font-size: 25px;
    line-height: 1.4;
    margin-bottom: 15px;
}
.ms-text-kdh a{
    color: #ffffff;
    background: #000000;
    font-weight: 700;
    font-size: 13px;
    padding: 8px 15px;
    border-radius: 40px;
    cursor: pointer;
}
.ms-text-kdh a:hover {
    background: #000000;
    opacity: 0.5;
}

    /* 하단 메뉴 style */

    .bottom-menu {

        width: 95%;
        margin: 100px auto 70px;
        display: flex;
        justify-content: center;
        align-items: center;


    }

    .bottom-menu ul {
        font-size: 25px;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        margin: 50px 70px;

    }

    .bottom-menu a {
        font-size: 15px;
        flex-direction: column;
        margin: 13px 0;
        color: #707072;
        cursor: pointer;
    }

    .bottom-menu a:first-child {
        margin-top: 50px;
    }

